<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<stringAttribute key="configurationName" value="MongoRepl"/>
<booleanAttribute key="deferLiveness" value="true"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.0.4"/>
<intAttribute key="distributedNodesCount" value="1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="1"/>
<intAttribute key="fpIndex" value="1"/>
<booleanAttribute key="fpIndexRandom" value="true"/>
<intAttribute key="maxHeapSize" value="25"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="elections, messages, log, matchEntry, state, allLogs, immediatelyCommitted, commitIndex, currentTerm, votesResponded, votesGranted, voterLog, votedFor"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1LogMatching"/>
<listEntry value="1ElectionSafety"/>
<listEntry value="0LeaderCompleteness"/>
<listEntry value="0RollbackSafety"/>
<listEntry value="0LearnerSafety"/>
<listEntry value="0MaxTermInvariant /\ LogLenInvariant"/>
<listEntry value="0LastTermsEquivalentImplyPrefixes"/>
<listEntry value="0Cardinality(messages)&lt;2"/>
<listEntry value="0~(\E s,t \in Server : s#t /\ state[s] = Primary /\ state[t] = Primary)"/>
<listEntry value="0~(\E s \in Server : Len(log[s])=3)"/>
<listEntry value="0~(\E s, t \in Server : Len(log[s])=2 /\ Len(log[t])=2 /\ log[s] # log[t])"/>
<listEntry value="0\A s \in Server : Len(log[s])=0"/>
<listEntry value="0\A s \in Server : LastTerm(log[s]) &lt;= currentTerm[s]"/>
<listEntry value="0~(\E s \in Server : state[s]=Secondary /\ commitIndex[s][1]&gt;0)"/>
<listEntry value="0~(immediatelyCommitted = {[entry |-&gt; &lt;&lt;1,1&gt;&gt;, term |-&gt; 1]})"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="0CommittedEntriesMonotonic"/>
<listEntry value="0PrefixCommittedEntriesMonotonic"/>
<listEntry value="0ImmediatelyCommittedTermMatchesLogEntryTerm"/>
<listEntry value="0TermsMonotonic"/>
<listEntry value="0EventuallyLogsConverge"/>
<listEntry value="0LeaderAppendOnly"/>
<listEntry value="0EventuallyLogsNonEmpty"/>
<listEntry value="0ImmediatelyCommittedTemporal(&lt;&lt;1, 5&gt;&gt;)"/>
<listEntry value="0&lt;&gt; \E s \in Server : currentTerm[s]&gt;3"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Primary;;Primary;1;0"/>
<listEntry value="Secondary;;Secondary;1;0"/>
<listEntry value="Nil;;Nil;1;0"/>
<listEntry value="Candidate;;Candidate;1;0"/>
<listEntry value="Value;;{v1};1;0"/>
<listEntry value="Server;;{n1, n2, n3};1;1"/>
<listEntry value="MaxTerm;;3;0;0"/>
<listEntry value="MaxLogLen;;3;0;0"/>
<listEntry value="EnableLearnerProtocol;;FALSE;0;0"/>
<listEntry value="EnableRollbackProtocol;;FALSE;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="StateConstraint"/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="2"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="80"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="MongoRepl"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="0CommittedEntries"/>
<listEntry value="0PrefixCommittedEntriesWithTerm"/>
<listEntry value="0{&lt;&lt;s,t,CanVoteFor(s, t)&gt;&gt; : s,t \in Server}"/>
</listAttribute>
<stringAttribute key="view" value=""/>
<booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
